* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
ul{
  margin: 0;
}
.stripHeader {
  background: #504D9A;
}

.stripHeader ul {
  list-style: none;
  display: flex;
  gap: 17px;
  float: right;
  margin: 12px;
}

.headerWrapper div:nth-child(1) {
  float: left;
}

.headerWrapper div:nth-child(2) {
  float: right;
}

.headerWrapper div:nth-child(2) ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
}
.headerWrapper div:nth-child(2) ul li{
  font-size: 1.2rem;
  color: #333333;
}
.menuItem{
  margin: 24px 0px;
}
.wrapperHeader{
  box-shadow: 0px 4px 4px rgb(235 235 235 / 45%);
}
.logo_w {
  margin: 20px 0px;
}
.banner {
  margin: auto;
  text-align: center;
  margin: 10px 0px;
}


.bannerContent h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 47px;
  line-height: 70px;
  color: #504D9A;
}
.bannerContent button{
  background: #504D9A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 214px;
  height: 49px;
  border: none;
  color: #fff;
}